
.paginator {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pageNumber {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid grey;
    min-width: 20px;
    height: 25px;
    padding: 0 2px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;

}