.header {
    grid-area: h;
    background-color: #292829;
}

.header img {
    width: 50px ;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}

.loginName {
    color: chartreuse;
}