.header {
    grid-area: h;
    background-color: #292829;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nameNetwork {
    margin-left: 30px;
}

.header img {
    width: 50px ;
    border-radius: 30px;
}

.loginBlock {
    /*background-color: #2f6e2c;*/
    float: right;
}

.loginBlock a {
    color: white;
}

.loginName {
    width: 250px;
    color: chartreuse;
    /*margin-right: 15px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}
