.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 10px;
    color: white;
}

.dialogsItems .active{
    color: chartreuse;
}

.messages {
    padding: 10px;
}

.message .message {
    color: white;
}